Repository aigoncharov/cls-proxify: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx doctoc

.lintstagedrc:

{
  "*.{js,ts,tsx,json,css,less,yml}": [
    "npx prettier --write",
    "git add"
  ],
  "*.md": [
    "npx doctoc",
    "npx prettier --write",
    "git add"
  ]
}

Add tests
  index.test.ts
  index.ts
  package-lock.json
  package.json
Due: npx prettier --write

Rename helpers
  index.test.ts
  index.ts
Due: npx prettier --write

Add integration with Express, Koa, Fastify
  index.ts
  package-lock.json
  package.json
  src/core.test.ts
  src/core.ts
  src/integration/express.test.ts
  src/integration/express.ts
  src/integration/fastify.test.ts
  src/integration/fastify.ts
  src/integration/koa.test.ts
  src/integration/koa.ts
Due: npx prettier --write

Fill README
  .vscode/settings.json
  README.md
  src/core.test.ts
  src/core.ts
  src/integration/express.ts
  src/integration/fastify.ts
  src/integration/koa.ts
  tsconfig.prod.json
Due: npx prettier --write, npx doctoc

Update package.json
  README.md
  package.json
Due: npx prettier --write, npx doctoc

Update README
  README.md
Due: npx prettier --write, npx doctoc

Refactor compiled structure
  .gitignore
  README.md
  index.ts
  package.json
  tsconfig.prod.json
Due: npx prettier --write, npx doctoc

Add pino and fastify demo
  README.md
  package-lock.json
  package.json
  tsconfig.prod.json
Due: npx prettier --write, npx doctoc

Improve documentation
  README.md
  docs/how-cls-proxify-works.jpg
  docs/how-cls-proxify-works.xml
Due: npx prettier --write, npx doctoc

Add pino and express demo
  README.md
Due: npx prettier --write, npx doctoc

Add coverage report
  .travis.yml
  package-lock.json
  package.json
Due: npx prettier --write

Add coverage badge
  README.md
Due: npx prettier --write, npx doctoc

Update README, description
  README.md
  package.json
Due: npx prettier --write, npx doctoc

Update README.md
  README.md
Due: npx prettier --write, npx doctoc

README.md - remove a misleading copy-pasted line
  README.md
Due: npx prettier --write, npx doctoc

Update deps
  package-lock.json
  package.json
Due: npx prettier --write

Implement custom namespaces
  jest.config.js
  package-lock.json
  package.json
  src/cls.test.ts
  src/cls.ts
  src/core.test.ts
  src/core.ts
  src/index.ts
  src/integration/express.test.ts
  src/integration/express.ts
  src/integration/fastify.test.ts
  src/integration/fastify.ts
  src/integration/koa.test.ts
  src/integration/koa.ts
  tsconfig.json
Due: npx prettier --write

Update docs
  README.md
  package.json
Due: npx prettier --write, npx doctoc

Fix build
  .gitignore
  babel.config.js
  package.json
  tsconfig.prod.json
Due: npx prettier --write

Fix pack
  package.json
  src/consts.ts
  src/integration/fastify.ts
  tsconfig.prod.json
Due: npx prettier --write

Update gitignore
  .gitignore
Due: none

Update package json
  package.json
Due: npx prettier --write

Update docs
  README.md
  src/index.ts
Due: npx prettier --write, npx doctoc

Fix fastify docs
  README.md
Due: npx prettier --write, npx doctoc
